*/*.o
*.o
minishell
test.c
a.out
*.a
*/*.dSYM
*.dSYM
*/*.vscode
*.sh
*/*.sh
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

